[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pandas = "*"
requests = "*"
awswrangler = "*"
sklearn = "*"

[dev-packages]
pytest = "*"
pyhamcrest = "*"

[requires]
python_version = "3.8"
